{% assign repo_url = include.repo.repository | split: '/' %}
{% assign owner = repo_url[0] %}
{% assign name = repo_url[1] %}

{% assign local_thumb = '/assets/img/repo_thumbs/' | append: name | append: '.png' %}
{% assign private_fallback = '/assets/img/repo_thumbs/_private.png' %}
{% assign public_fallback = 'https://opengraph.githubassets.com/1/' | append: owner | append: '/' | append: name %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repo.repository }}">
    <img
      class="w-100 rounded"
      alt="{{ include.repo.repository }}"
      src="{{ local_thumb | relative_url }}"
      loading="lazy"
      onerror="this.onerror=null; this.src='{% if include.repo.is_private %}{{ private_fallback | relative_url }}{% else %}{{ public_fallback }}{% endif %}';"
    >
  </a>
</div>
